*{
    margin: 0px;
    padding: 0px;
}

/* Menu and banner style  */
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(117, 117, 117);
    padding: 10px;
    align-items: center;
}
.menus>ul{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: white;
}
.banner-container{
    height: 100vh;
    background-image: url('./asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
    display: flex;
    align-items: center;
}
.digital-title{
    color: red;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
.bg-primary{
    color: white;
    background-color: red;
}

/* service style  */
.service-container{
    height: 100vh;
    background-image: url('./asset/image/footer-bg.png'), linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}
.service-description{
    width: 50%;
}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.box{
    padding: 50px;
    background-color: white;
    width: 200px;
    height: 100px;
    color: black;
    border-radius: 5px;
    text-align: center;

}
.service-title{
    margin-top: 30px;
}
.service-left{
    margin-left: 30px;
}
.first-two-box{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
.second-two-box{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.author-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 25px;
}
.phone-call{
    display: flex;
    align-items: center;
}
.appointment-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 20px;
    margin-top: -50px;
    gap: 30px;
}
.blog-container{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(236, 234, 234);
    padding: 10px;
}
.blog-title{
    color: black;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
.blog-description{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
.card{
    height: 350px;
    width: 350px;
    margin-top: 20px;
    text-align: center;
    gap: 10px;
    box-shadow: 4px 8px 4px grey;
}
.blog-image{
    width: 100%;
    border-radius: 5px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}


/* This is footer area  */
.footer-section{
    height: 320px;
    weight: 250px;
    background-color: black;
}
.footer-container{
    display: flex;
    height: 280px;
    justify-content: space-around;
    text-align: left;
}
.logo-footer{
    width: 120px;
}
.footer-area{
    padding: 70px 50px;
    width: 230px;
}
li{
    color: #fff;
    margin-top: 3px;
    list-style: none;
    text-align: left;
}
h4{
    margin-bottom: 20px;
    color: #fff;
}
.footer-description{
    color: #fff;
    margin-top: 10px;
    text-align: justify;
}
.copywrite-text{
    color: #fff;
    text-align: center;
    font-size: 12px;
}
